{% extends "characters/character_base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Hello, world. You're at the characters index.</h1>

    <a class="btn btn-primary" href="{% url 'characters:create' %}">Create Character</a>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>
                    <a href="{% url 'characters:detail' character.id %}">{{ character.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}