{% extends "characters/character_base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form class="form" action="" method="post">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Save</button>
                {% endbuttons %}
            </form>

            {% if object.id %}
                <hr/>
                {% buttons %}
                    <a href="{% url 'characters:delete' object.id %}" class="btn btn-danger">Delete</a>
                {% endbuttons %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" onclick="tableTopPlus.renderPdfPage(1)">Core</a></li>
                <li><a href="#" onclick="tableTopPlus.renderPdfPage(2)">Background</a></li>
                <li><a href="#" onclick="tableTopPlus.renderPdfPage(3)">Spells</a></li>
            </ul>
            <canvas id="the-canvas"></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            tableTopPlus.renderPdfPage(1)
        });
    </script>
{% endblock %}