{% extends "characters/character_base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form class="form" action="" method="post">{% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Save</button>
                {% endbuttons %}
            </form>

            {% if object.id %}
                <hr/>
                {% buttons %}
                    <a href="{% url 'characters:delete' object.id %}" class="btn btn-danger">Delete</a>
                {% endbuttons %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" onclick="renderPage(1)">Core</a></li>
                <li><a href="#" onclick="renderPage(2)">Background</a></li>
                <li><a href="#" onclick="renderPage(3)">Spells</a></li>
            </ul>
            <canvas id="the-canvas"></canvas>
        </div>
    </div>

    <script>
        var pdfDoc = null,
                pageRendering = false,
                pageNumPending = null,
                scale = 1.3,
                canvas = document.getElementById('the-canvas'),
                ctx = canvas.getContext('2d');

        function renderPage(num) {
            PDFJS.getDocument('/static/characters/images/dnd-5e-character-sheet_' + num + '.pdf').then(function (pdf) {
                pageRendering = true;

                pdf.getPage(1).then(function (page) {
                    var viewport = page.getViewport(scale);

                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    var renderContext = {
                        canvasContext: ctx,
                        viewport: viewport
                    };
                    var renderTask = page.render(renderContext);
                    // Wait for rendering to finish
                    renderTask.promise.then(function () {

                        $

                        pageRendering = false;
                        if (pageNumPending !== null) {
                            // New page rendering is pending
                            renderPage(pageNumPending);
                            pageNumPending = null;
                        }
                    });
                });
            });
        }

        renderPage(1);
    </script>
{% endblock %}